* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****************************************************                      ~            HEADER.js             ~                           ****************************************************/
.flower {
    box-shadow: 0 0 12px 0 #EEE1E1;
}

.header-logo {
    background: white;
    margin-top: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    text-decoration: none;
}

.nav-container span {
    display: flex;
    justify-content: space-around;
    gap: 2%;
    text-decoration: none;
}

.nav-links {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: black;
    justify-content: space-between;
    gap: 1.5em;
}

.nav-text {
    text-decoration: none;
    color: black;
}


/****************************************************                      ~            INDEX.js             ~                           ****************************************************/
.flower path {
    cursor: pointer;
    pointer-events: all;
    stroke: inline;
    stroke: #273420;
    stroke-width: 1.3px;
    stroke-linejoin: round;
    fill: #fdd5d6;
}

.flower {
    fill: #fdd5d6;
}

.svg-box {
    background: transparent;
}

.main-outer {
    width: 90%;
    height: 100%;
    background: center / cover no-repeat url('/images/strauss-bakgrudn.png');
    object-fit: cover;
}

.company-logo {
    position: absolute;
    width: 350px;
    height: auto;
    left: 44px;
}

.outer-container {
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-inner {
  clear: both;
  display: grid;
  height: 100%;
  grid-template-columns: 0.3fr 11.4fr 0.3fr;
  bottom: 0;
}


.left-text {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
    stroke: #EEE1E1;
    stroke-width: 1px;
}


.right-text {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    stroke: #EEE1E1;
    z-index: 999;
    stroke-width: 1px;

}

.outmost-left-text, .outmost-right-text{
  stroke: #27342083 !important;
}

.middle-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20vh;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    padding: 0px 25px 25px 25px;
}

.main-text h2{
    text-align: left;
    left: 0;
    color: #ffffff;
    font-size: 66px;
}
.main-text p{
    text-align: left;
    left: 0;
    font-size: 22px;
    color: white;
}

.going-up {
  transform: translateY();
}

/****************************************************           ~            INDEX.js -> GREETING CONTAINER            ~                ****************************************************/
.greeting-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80%;
    /* background: center / contain no-repeat url('/images/strauss-bakgrund.jpg'); */
    width: 100%;
}

.POWR-blocker {
    height: 65px;
    width: 100%;
    background: white;
    bottom: 0;
    transform: translateY(-87px);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting-text {
    display: grid;
    margin: 1em;
    text-indent: 4em 4em;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    color: #EEE1E1;
    font-size: 20px;
	-webkit-text-stroke: 0.3px black;
}

.slope-figure-main svg {
    background: transparent;
    position: inline;
    left: 0;
    bottom: 0;
    fill: #FFEBEC;
}

.slope-figure-main {
  width: 100%;
  height: 100%;
  height: auto;  
  bottom: -5px;
    fill: #FFEBEC;
  background-image: linear-gradient(white, #273420)
}

/****************************************************           ~            INDEX.js -> picture-preview             ~              ****************************************************/

.picture-preview {
    display: flex;
    height: 50vh;
    width: 100%;
    background: #FFEBEC;
}

/* intropage */

.cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    padding:0px 0;
    width: 500px;
    height: 100%;
    background: transparent;
  }

.logo-box {
    position: absolute;
    transform: translate(35%);
}

.logo {
    z-index: 999;
    width: 400px;
    height: auto;
    animation: animate ease 5s 7s forwards;
    opacity: 0;
}

.vertical-space-inbetween {
    height: 10vh;
    top: 0;
    background: transparent;
}
.vertical-space-inbetween1 {
    height: 2vh;
    margin-top: 4px;
    top: 0;
    background: #ffebece0;
}
.vertical-space-inbetween2 {
    height: 1vh;
    margin-top: 5px;
    top: 0;
    background: #ffebecbd;
}
.vertical-space-inbetween3 {
    height: 0.5vh;
    margin-top: 6px;
    top: 0;
    background: #ffebecab;
}
.vertical-space-inbetween4 {
    height: 0.3vh;
    margin-top: 4px;
    top: 0;
    background: #ffebec75;
}

.main-footer {
    background: #FFEBEC;
    height: 15vh;
    width: 100%;
}
/****************************************************                      ~            @keyframes             ~                           ****************************************************/


@keyframes animate {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/****************************************************                      ~            @media screen             ~                           ****************************************************/

@media screen and (max-width: 1500px) {
    .wrap {
        width: 400px;
        height: auto;
    }
    }


@media screen and (max-width: 1300px) {
    .wrap {
        width: 350x;
        height: auto;
    }
    }



@media screen and (max-width: 1200px) {
    .wrap {
        width: 325px;
        height: auto;
    }
    }
/* This is for .greeting-text*/
@media screen and (max-width: 960px) {
    .greeting-text {
        width: 100%;
        text-indent: 0 0;
    }

    .wrap {
        width: 300px;
        height: auto;
    }
}
/* This is for .slope-figure-main*/

@media screen and (max-width: 960px) {
    .greeting-text {
        width: 100%;
        text-indent: 0 0;
    }
    .main-container h2 {
      font-size: 36px;
      text-align: center;
  }
  .main-container p {
      font-size: 18px;
      text-align: center;
  }
}
@media screen and (max-width: 800px) {
    .wrap {
        width: 275px;
        height: auto;
    }
    .POWR-blocker {
        height: 110px;
        transform: translateY(-127px);
    }
    

    }

@media screen and (max-width: 700px) {

    .middle-part {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
    }
    .main-container {
        order: 0;
    }
    .wrap-container {
        order: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
    


/* This is for .nav-container and .nav-links*/

@media screen and (max-width: 700px) {
    .nav-container {
        width: 100%;
        padding-right: 8px;
        padding-left: 8px;
    }
    .nav-links {
        gap: 10px;
    }

    .wrap {
        width: 200px;
        height: auto;
    }

    .main-container {
      padding: 20px;
    }
    .middle-part {
      margin-bottom: 40vh;
  }
}

/* This is for  .nav-container and .nav-links*/
@media screen and (max-width: 500px) {
    .nav-container {
        width: 100%;
        padding: 8px;
    }
    .nav-links {
        gap: 10px;
        font-size: 12px;
    }

    .main-container {
      margin: 10px;
        padding: 20px;
        top: 0;
        transform: translateY(-50px);
    }
    .main-container h2 {
        font-size: 24px;
        text-align: center;
    }
    .main-container p {
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 370) {
  .nav-container {
      width: 100%;
      padding: 8px;
  }
  .nav-links {
      gap: 10px;
      font-size: 12px;
  }

  .main-container {
    margin: 10px;
      padding: 25px;
      top: 0;
      transform: translateY(-50px);
  }
  .main-container h2 {
      font-size: 15px;
      text-align: center;
  }
  .main-container p {
      font-size: 10px;
      text-align: center;
  }
}