* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****************************************************                      ~            HEADER.js             ~                           ****************************************************/
.flower {
    box-shadow: 0 0 12px 0 #EEE1E1;
}

.header-logo {
    background: white;
    margin-top: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    text-decoration: none;
}

.nav-container span {
    display: flex;
    justify-content: space-around;
    gap: 2%;
    text-decoration: none;
}

.nav-links {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: black;
    justify-content: space-between;
    gap: 1.5em;
}

.nav-text {
    text-decoration: none;
    color: black;
}


/****************************************************                      ~            INDEX.js             ~                           ****************************************************/
.flower path {
    cursor: pointer;
    pointer-events: all;
    stroke: inline;
    stroke: #273420;
    stroke-width: 1.3px;
    stroke-linejoin: round;
}

.flower {
    fill: #fdd5d6;
}

.svg-box {
    background: transparent;
}

.main-outer {
    width: 90%;
    height: 100%;
    background: center / contain no-repeat url('/images/strauss-bakgrund.jpg');
    background-size: cover;
}

.company-logo {
    position: absolute;
    width: 350px;
    height: auto;
    left: 44px;
}

.outer-container {
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-inner {
  clear: both;
  display: grid;
  height: 100%;
  grid-template-columns: 0.3fr 11.4fr 0.3fr;
  bottom: 0;
}


.left-text {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
    stroke: #EEE1E1;
    stroke-width: 1px;
}

.right-text {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    stroke: #EEE1E1;
    z-index: 999;
    stroke-width: 1px;

}

.outmost-left-text, .outmost-right-text{
  stroke: #27342083 !important;
}

.middle-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    padding: 25px;
}

.main-text h2{
    text-align: left;
    left: 0;
    color: #ffffff;
    font-size: 36px;
}
.main-text p{
    text-align: left;
    left: 0;
    font-size: 20px;
    color: white;
}

.going-up {
  transform: translateY();
}

/****************************************************           ~            INDEX.js -> GREETING CONTAINER            ~                ****************************************************/
.greeting-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80%;
    /* background: center / contain no-repeat url('/images/strauss-bakgrund.jpg'); */
    width: 100%;
}

.POWR-blocker {
    height: 65px;
    width: 100%;
    background: white;
    bottom: 0;
    transform: translateY(-87px);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting-text {
    display: grid;
    margin: 1em;
    text-indent: 4em 4em;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    color: #EEE1E1;
    font-size: 20px;
	-webkit-text-stroke: 0.3px black;
}

.slope-figure-main svg {
    background: transparent;
    position: inline;
    left: 0;
    bottom: 0;
    fill: #FFEBEC;
}

.slope-figure-main {
  width: 100%;
  height: 100%;
  height: auto;  
  bottom: -5px;
    fill: #FFEBEC;
}

/****************************************************           ~            INDEX.js -> picture-preview             ~              ****************************************************/

.picture-preview {
    display: flex;
    height: 50vh;
    width: 100%;
    background: #FFEBEC;
}

/* intropage */

.cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    padding:0px 0;
    width: 500px;
    height: 100%;
    background: transparent;
  }

.logo-box {
    position: absolute;
    transform: translate(35%);
}

.logo {
    z-index: 999;
    width: 400px;
    height: auto;
    animation: animate ease 5s 7s forwards;
    opacity: 0;
}

.vertical-space-inbetween {
    height: 10vh;
    top: 0;
    background: transparent;
}
.vertical-space-inbetween1 {
    height: 2vh;
    margin-top: 4px;
    top: 0;
    background: #ffebece0;
}
.vertical-space-inbetween2 {
    height: 1vh;
    margin-top: 5px;
    top: 0;
    background: #ffebecbd;
}
.vertical-space-inbetween3 {
    height: 0.5vh;
    margin-top: 6px;
    top: 0;
    background: #ffebecab;
}
.vertical-space-inbetween4 {
    height: 0.3vh;
    margin-top: 4px;
    top: 0;
    background: #ffebec75;
}

.main-footer {
    background: #FFEBEC;
    height: 15vh;
    width: 100%;
}

/****************************************************                      ~            petal hover             ~                           ****************************************************/

#toggle1.petal.p1:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle2.petal.p2:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle3.petal.p3:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle4.petal.p4:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle5.petal.p5:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle6.petal.p6:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle7.petal.p7:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle8.petal.p8:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle9.petal.p9:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle10.petal.p10:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle11.petal.p11:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle12.petal.p12:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle13.petal.p13:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle14.petal.p14:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle15.petal.p15:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle16.petal.p16:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle17.petal.p17:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle18.petal.p18:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle19.petal.p19:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle20.petal.p20:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle21.petal.p21:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle22.petal.p22:hover {
    fill: #27342083;
    transition: all ease 0.5s;
  }
#toggle23.petal.p23:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle24.petal.p24:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle25.petal.p25:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle26.petal.p26:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle27.petal.p27:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle28.petal.p28:hover {
    fill: #27342083;
    transition: all ease 0.4s;
  }
#toggle29.petal.p29:hover {
    fill: #27342083;
    transition: all ease 0.4s;
  }
#toggle30.petal.p30:hover {
    fill: #27342083;
    transition: all ease 0.4s;
  }
#toggle31.petal.p31:hover {
    fill: #27342083;
    transition: all ease 0.4s;
  }
#toggle32.petal.p32:hover {
    fill: #27342083;
    transition: all ease 0.4s;
  }
#toggle33.petal.p33:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle34.petal.p34:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle35.petal.p35:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle36.petal.p36:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle37.petal.p37:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle38.petal.p38:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle39.petal.p39:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle40.petal.p40:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle41.petal.p41:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle42.petal.p42:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle43.petal.p43:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle44.petal.p44:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle45.petal.p45:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle46.petal.p46:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle47.petal.p47:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle48.petal.p48:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle49.petal.p49:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle50.petal.p50:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
#toggle51.petal.p51:hover {
    fill: #27342083;
    transition: all ease 0.3s;
  }
/****************************************************                      ~            @keyframes             ~                           ****************************************************/


@keyframes animate {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/****************************************************                      ~            @media screen             ~                           ****************************************************/

@media screen and (max-width: 1500px) {
    .wrap {
        width: 400px;
        height: auto;
    }
    }


@media screen and (max-width: 1300px) {
    .wrap {
        width: 350x;
        height: auto;
    }
    }



@media screen and (max-width: 1200px) {
    .wrap {
        width: 325px;
        height: auto;
    }
    }
/* This is for .greeting-text*/
@media screen and (max-width: 960px) {
    .greeting-text {
        width: 100%;
        text-indent: 0 0;
    }

    .wrap {
        width: 300px;
        height: auto;
    }
}
/* This is for .slope-figure-main*/

@media screen and (max-width: 960px) {
    .greeting-text {
        width: 100%;
        text-indent: 0 0;

    }
}
@media screen and (max-width: 800px) {
    .wrap {
        width: 275px;
        height: auto;
    }
    .POWR-blocker {
        height: 110px;
        transform: translateY(-127px);
    }
    

    }

@media screen and (max-width: 700px) {

    .middle-part {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
    }
    .main-container {
        order: 0;
    }
    .wrap-container {
        order: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .wrap {
        width: 270px;
        height: auto;
    }

    }
    


/* This is for .nav-container and .nav-links*/

@media screen and (max-width: 700px) {
    .nav-container {
        width: 100%;
        padding-right: 8px;
        padding-left: 8px;
    }
    .nav-links {
        gap: 10px;
    }

    .wrap {
        width: 200px;
        height: auto;
    }

    .main-container {
      padding: 20px;
    }
    .middle-part {
      margin-bottom: 40vh;
  }
}

/* This is for  .nav-container and .nav-links*/
@media screen and (max-width: 500px) {
    .nav-container {
        width: 100%;
        padding: 8px;
    }
    .nav-links {
        gap: 10px;
        font-size: 12px;
    }

    .main-container {
      margin: 10px;
        padding: 20px;
        top: 0;
        transform: translateY(-50px);
    }
    .main-container h2 {
        font-size: 24px;
        text-align: center;
    }
    .main-container p {
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 370) {
  .nav-container {
      width: 100%;
      padding: 8px;
  }
  .nav-links {
      gap: 10px;
      font-size: 12px;
  }

  .main-container {
    margin: 10px;
      padding: 25px;
      top: 0;
      transform: translateY(-50px);
  }
  .main-container h2 {
      font-size: 15px;
      text-align: center;
  }
  .main-container p {
      font-size: 10px;
      text-align: center;
  }
}