body,
* {
	margin: 0;
	font-family: 'Poppins', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.petal {
	transform: scale(0, 0);
	transform-origin: 50% 50%;
	opacity: 0;
}

.petal:hover {
	fill: #27342083;
	scale: (0, 0);
}
